<header class="text-center">
    <img class="-mt-6" ngSrc="/assets/smite.svg" alt="smite logo" width="200" height="200" priority>
</header>
<h1 class="text-center -mt-6">1v1 Game Randomizer</h1>

<div class="flex flex-column align-items-center">
    <!--  <p class="description text-center line-height-3">A simple way to randomize your smite 1v1 games, just select the
        number
        of users you
        want to
        randomize a god for
        the
        game
        and click generate, as
        optional you can customize the gods by <span class="font-bold">pantheon</span> or <span
            class="font-bold">class</span>.</p> -->
    <div class="flex justify-content-around radio-buttons mb-3">
        <div>
            <p-radioButton name="type" value="1" [(ngModel)]="selectedPlayers" inputId="single-player"></p-radioButton>
            <label for="single-player" class="ml-2">One player</label>
        </div>

        <div>
            <p-radioButton name="type" value="2" [(ngModel)]="selectedPlayers" inputId="two-player"></p-radioButton>
            <label for="two-player" class="ml-2">Two players</label>
        </div>
    </div>
    <div class="flex flex-column md:flex-row gap-3 mb-3">
        <p-button class="flex justify-content-center " label="Generate player 1" (click)="generateP1()"></p-button>
        @if (selectedPlayers == 2) {
        <p-button class="flex justify-content-center " label="Generate player 2" (click)="generateP2()"></p-button>
        }
    </div>



    <div class="flex flex-column md:flex-row gap-3">
        <smite-randomizer-gods-card [players]="1" [godsClasses]="godsClasses" [godsPantheons]="godsPantheons"
            [god]="godP1" (pantheon)="onSelectedPantheonP1($event)"
            (class)="onSelectedClassP1($event)"></smite-randomizer-gods-card>
        @if (selectedPlayers == 2) {
        <smite-randomizer-gods-card [players]="2" [godsClasses]="godsClasses" [godsPantheons]="godsPantheons"
            [god]="godP2" (pantheon)="onSelectedPantheonP2($event)"
            (class)="onSelectedClassP2($event)"></smite-randomizer-gods-card>
        }
    </div>
</div>